@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');

body{
    font-family: "Cairo: wght @200";
    font-size: 20px;
    margin: 50;
}

h1{
    margin:0;
    text-align: center;
    border-bottom: 1px dotted #b3e095;
    box-shadow:green;
    margin-bottom: 30px;
}

fieldset{
    width: 40%;
    margin: auto;
    border: 1px dotted #345e18;
    background: rgba(200,200,200,0.5);
}

button{
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    margin: auto;
    display: block;
    margin-top: 10px;
}

label.alinha{
    width: 270px;
    display: inline-block;
    margin-bottom: 7px;
    text-align: right;
}

p{
    font-family: "Cairo: wght @200";
    text-align: center;
    width: 40%;
    margin: auto;
    border: 1px dotted #345e18;
    background: rgba(200,200,200,0.5);
}

table {
    width: 40%;
    border: 1px solid #999;
    height: 250px;
    margin: 20px auto;
    background: #b3e095;
    box-shadow: 5px 5px 5px rgba(100,100,100,0.7);
   }
   
   th, td {
    border: 1px solid #999;
   }
   
   th {
    background: #1d4b00;
    color: #fff;
   }
   
   td {
    text-align: center;
   }